<div class="row">
    <div class="col-sm-12 col-md-9 col-lg-9">
        <form [formGroup]="employeeForm" class="" (ngSubmit)="onSubmit()">
            <div>
                <h3 class=".md-title">Manage Employee</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="matInputfield">
                        <input matInput placeholder="First Name*" formControlName="firstName" />
                        <mat-error>This filed is mandatory.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="matInputfield">
                        <input matInput placeholder="Last Name*" formControlName="lastName" />
                        <mat-error>This filed is mandatory.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="matInputfield">
                        <input matInput placeholder="Email Id*" formControlName="email" />
                        <mat-error *ngIf="employeeForm.controls['email'].errors?.required">This filed is mandatory.</mat-error>
                        <mat-error *ngIf="employeeForm.controls['email'].errors?.email">Invalid Email</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="matInputfield">
                        <input matInput [matDatepicker]="picker" placeholder="Joining Date*" formControlName="startDate" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>This filed is mandatory.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="matInputfield">
                        <mat-label>Organization*</mat-label>
                        <mat-select matNativeControl formControlName="orgId">
                            <mat-option value="">Choose Organization</mat-option>
                            <ng-template [ngIf]="orgsDS$?.length > 0">
                                <mat-option *ngFor="let org of orgsDS$" [value]="org._id">
                                    {{ org.name }}
                                </mat-option>
                            </ng-template>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="matInputfield">
                        <mat-label>Department*</mat-label>
                        <mat-select matNativeControl formControlName="departmentId">
                            <mat-option value="">Choose Departments</mat-option>
                            <mat-option *ngFor="let dept of departments" [value]="dept.value">
                                {{ dept.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="matInputfield">
                        <mat-label>Team Type*</mat-label>
                        <mat-select matNativeControl formControlName="teamTypeId">
                            <mat-option value="">Choose TeamType</mat-option>
                            <mat-option *ngFor="let team of teamType" [value]="team.value">
                                {{ team.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="matInputfield">
                        <mat-label>Manager*</mat-label>
                        <mat-select matNativeControl formControlName="managerId">
                            <mat-option value="">Choose Manager</mat-option>
                            <mat-option *ngFor="let manager of managers" [value]="manager.value">
                                {{ manager.viewValue }}
                            </mat-option>
                        </mat-select>
                        <mat-error>This filed is mandatory.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="matInputfield">
                        <mat-label>Role*</mat-label>
                        <mat-select matNativeControl formControlName="roleId">
                            <mat-option *ngFor="let role of roles" [value]="role.value">
                                {{ role.viewValue }}
                            </mat-option>
                        </mat-select>
                        <mat-error>This filed is mandatory.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <span><button
            mat-flat-buttoncolor="primary"
            type="submit"
            [disabled]="employeeForm.invalid"
          >
            Save
          </button></span
        >
        <span class="ml5"
          ><button mat-flat-button color="warn" (click)="onClear()">
            Clear
          </button></span
        >
      </div>
    </form>
  </div>
</div>

<div class="row" class="m5">
  <div>
    <h3 class=".md-title">Employee List</h3>
  </div>

  <div *ngIf="isLoadingResults">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container
        *ngFor="let disCol of displayedColumns; let colIndex = index"
        matColumnDef="{{ disCol }}"
      >
        <mat-header-cell *matHeaderCellDef>{{ disCol }}</mat-header-cell>
        <!--<mat-cell *matCellDef="let element"> {{ element.disCol }} </mat-cell> -->
        <mat-cell *matCellDef="let element"> {{ element[disCol] }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>