# dependencies
node_modules/

1to1/server/webServices/nodemon.json
/server/webServices/nodemon.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*


