<div class="container-fluid div_footer" style="min-height:150px;">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div>Link1</div>
            <div>Link2</div>
            <div>Link3</div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 ">
            <div>Link1</div>
            <div>Link2</div>
            <div>Link3</div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div>Link1</div>
            <div>Link2</div>
            <div>Link3</div>
        </div>
    </div>
</div>